body{
    background-color: bisque;
}
div {
    text-align: center;
   
}

h1 {
    font-size: 80px;
    font-family: Impact;
}

button {
    width: 200px;
    height: 70px;
    background-color: rgb(242, 242, 247);
    color: rgb(12, 7, 7);
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
    font-size: 20px;
}

p{
    font-size: 35px;
}

button:hover{
    background-color: rgb(28, 145, 218);
}
